name: Build and publish Develepment Charm
on:
  push:
    branches:
      - develop

jobs:
  build:
    
    name: Build Polkadot charm
    uses: canonical/data-platform-workflows/.github/workflows/build_charm.yaml@v35
    with:
      charmcraft-snap-revision: 6672
      cache: false
  publish:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Download charm package(s)
        uses: actions/download-artifact@v5
        with:
          pattern: ${{ needs.build.outputs.artifact-prefix }}-*
          merge-multiple: true
      - name: Find charm files
        id: find-charms
        run: |
          charm_files=$(find . -name "*.charm" -type f | tr '\n' ',' | sed 's/,$//')
          echo "charm-paths=$charm_files" >> $GITHUB_OUTPUT
          echo "Found charm files: $charm_files"
      - name: Upload charm to charmhub
        uses: canonical/charming-actions/upload-charm@2.7.0
        with:
          credentials: "${{ secrets.CHARMHUB_TOKEN }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          channel: latest/edge/develop
          github-tag: false
          built-charm-path: ${{ steps.find-charms.outputs.charm-paths }}
