name: Release Polkadot to Charmhub

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build nextcloud charm
    uses: canonical/data-platform-workflows/.github/workflows/build_charm_without_cache.yaml@v5

  release:
    name: Release charm
    needs:
      - build
    uses: canonical/data-platform-workflows/.github/workflows/release_charm.yaml@v5
    with:
      channel: latest/edge
      artifact-name: ${{ needs.build.outputs.artifact-name }}
    secrets:
      charmhub-token: ${{ secrets.CHARMHUB_TOKEN }}
    permissions:
      contents: write  # Needed to create GitHub release
